*.dll
*.exe
*.pdb
*.lib
*.pyd
*.exp
*.pyc

/Python-2.7.5/PCbuild/pcbuild.opensdf
/Python-2.7.5/PCbuild/pcbuild.sdf
/Python-2.7.5/PC/python_nt_d.h
/Python-2.7.5/PC/pythonnt_rc_d.h
/Python-2.7.5/PCbuild/Win32-temp-Debug/
/Python-2.7.5/PCbuild/Win32-temp-Release/
/Python-2.7.5/PCbuild/getbuildinfo.o
/Python-2.7.5/PCbuild/python.bsc
/Python-2.7.5/PCbuild/pcbuild.suo
/Python-2.7.5/Lib/site-packages/

/openssl-1.0.1e/MINFO
/openssl-1.0.1e/Makefile.bak
/openssl-1.0.1e/crypto/buildinf.h
/openssl-1.0.1e/crypto/opensslconf.h.bak
/openssl-1.0.1e/inc32/
/openssl-1.0.1e/ms/bcb.mak
/openssl-1.0.1e/ms/libeay32.def
/openssl-1.0.1e/ms/nt.mak
/openssl-1.0.1e/ms/ntdll.mak
/openssl-1.0.1e/ms/ssleay32.def
/openssl-1.0.1e/ms/version32.rc
/openssl-1.0.1e/tmp32/
/openssl-1.0.1e/tmp32dll/
/openssl-1.0.1e/crypto/buildinf_x86.h
/openssl-1.0.1e/crypto/opensslconf_x86.h

/tcl8.5.14/win/Debug_VC10/
/tcl8.5.14/win/nmakehlp.obj
/tcl8.5.14/win/versions.vc
/tcltk/
/tk8.5.14/win/Debug_VC10/
/tk8.5.14/win/nmakehlp.obj
/tk8.5.14/win/versions.vc

/Python-2.7.5/PCbuild/amd64/
/Python-2.7.5/PCbuild/x64-temp-Debug/
/openssl-1.0.1e/crypto/buildinf_amd64.h
/openssl-1.0.1e/crypto/opensslconf_amd64.h
/openssl-1.0.1e/inc64/
/openssl-1.0.1e/ms/nt64.mak
/openssl-1.0.1e/ms/uptable.asm
/openssl-1.0.1e/ms/uptable.obj
/openssl-1.0.1e/tmp64/
/tcl8.5.14/win/Debug_AMD64_VC10/
/tcltk64/
/tk8.5.14/win/Debug_AMD64_VC10/

/Python-2.7.5/PC/python_nt.h
/Python-2.7.5/PC/pythonnt_rc.h
/tcl8.5.14/win/Release_VC10/
/tk8.5.14/win/Release_VC10/
